/* ESTILOS DE TU COMPONENTE */
.title {
    text-align: center;
}

.titlebackground {
    display: flex; 
    background-image: url(../src/img/pokeball.png);
    height: 300px;
    width: 300px;
    background-size: 300px;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.basic_box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }

.inside_box_two {
    display: flow;
    margin: 0 1REM;
    height: 200px;
    width: 200px;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: solid 2px rgb(5, 38, 105);
    background-color: rgb(164, 164, 255);
    border-radius: 10px;
}

.inside_box {
    display: flow;
    margin: 0 1REM;
    padding: 10px;
    border: solid 2px rgb(5, 38, 105);
    background-color: rgb(164, 164, 255);
    border-radius: 10px;
}

input {
    width: 190px;
    height: 15px;
    margin-right: auto;
    margin-left: auto;
    opacity: 0.8;
}

select {
    width: 200px;
    height: 22px;
    margin-right: auto;
    margin-left: auto;
    opacity: 0.8;
}

button {
    width: 200px;
    height: 22px;
    margin-right: auto;
    margin-left: auto;
    opacity: 0.8;
    background-color: blanchedalmond;
}

.credits {
    text-align: center; 
    color: white;
}

@media (max-width:700px){
    .bigdiv {
        display: flow;
    }
}
@media (min-width:700px){
    .bigdiv {
        display: flex;
    }
}
